* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}
h1,h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   color: blue; 
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:black;
}
.section-tile {
    background-color: beige;
    margin: center;
}
.info {
    font-size: 14px;
    color: gray;
}
#main-header {
    background-color: blue;
    color:beige;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color:rgba(144, 255, 255, 0.479);
}
ul,li,a {
    color:beige;
    background-color: black;
}
h2,p {
    line-height: 15px;
}
